@import "tailwindcss";

:root {
  --background: #303830;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-editundo);
  --font-mono: var(--font-pixel);
}

@utility font-pixel {
  font-family: var(--font-pixel);
}

@utility font-editundo {
  font-family: var(--font-editundo);
}

@utility font-pirkkala {
  font-family: var(--font-pirkkala);
}

@utility font-mario {
  font-family: var(--font-mario);
}

html {
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.pixel {
  image-rendering: pixelated;
}

.front {
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.bounce-anim {
  animation: less-bounce 1s infinite;
}

@keyframes less-bounce {

  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.b {
  color: #5ce0f1;
}

.y {
  color: #ffe255;
}

.l {
  color: #abff55;
}

.g {
  color: #57d071;
}

.b, .y, .l, .g {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.coolink {
  color: #90ebff;
  text-decoration-line: underline;
}

.coolink:hover {
  color: #67d8fb;
}