@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-editundo);
  --font-mono: var(--font-pixel);
}

@utility font-pixel {
  font-family: var(--font-pixel);
}

@utility font-editundo {
  font-family: var(--font-editundo);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.pixel {
  image-rendering: pixelated;
}

.front {
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.bounce-anim {
  animation: less-bounce 1s infinite;
}

@keyframes less-bounce {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}